
body {
    margin: 0;
    padding: 0;
}

.header-wrapper {
    height: 100vh;
    width: auto;
    background-image: url(imagens/ruben-ramirez-xhKG01FN2uk-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    height: auto;
    width: 100vw;
    display: flex;
}

.rosa-container{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    margin: auto;
    filter: invert(100%)
}

.coffe-iconContainer{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    margin: auto;
    filter: invert(100%)
}

.container-text{
    width: 70vw;
    margin: 10px;
    text-align: center;
  
}

h1, .container-text {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 60px;
    background-color: #b64949;
    color: #ffffff;
}

h2, .container-text{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
    background-color: #b64949;
    color: #ffffff;
}

.coffe-beansContainer{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    margin: auto;
    filter: invert(100%)
}

/* */


.container-coffes{
    height: auto;
    width: auto;
    display: flex;
    background-color: #b64949;
    flex-direction: column;
  
}

.wrapped-text{
    display: flex;
    background-color: white;
    
}

h3{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
    background-color: white;
    color: #b64949;
    margin-left: 35%;
   
}


.wrapping-TypeOfCoffe{
    height: auto;
    width:  auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:  #b64949;;

}

.wrapped-coffes {
    height: 500px;
    width:  300px;
    margin: 10px;
    display: flex;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.wrapped-text-coffes{
    margin: 10px;
    text-align: center;
}

h4{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
    background-color: #b64949;
    color: #ffffff;
   
}

.containerDeImagem{
    display: flex;
    
}

.wrapped-text-coffes p {
  font-size: 25px;
  color: #b64949;
  top: 0;
  left: 0;
  font-style: sans-serif;
  font-weight: bolder;

}

.containerDeImagem img{
    width: 280px;
    height: 200px;
    filter: grayscale(30%);
}

/* Outra seção */

.container-coffes{
    height: auto;
    width: auto;
    display: flex;
    background-color: #b64949;
    flex-direction: column;
    
}

.wrapped-text-tamanho{
    display: flex;
    background-color: white;
  
}

.wrapped-text-tamanho h3{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
    background-color: white;
    color: #b64949;
    margin-left: 35%;
   
}


.wrapping-TypeOfCoffe-tamanho{
    height: auto;
    width:  auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:  #b64949;;
}

.wrapped-coffes-tamanho {
    height: 400px;
    width:  300px;
    margin: 10px;
    display: flex;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.containerDeImagem-tamanh {
    width: 280px;
    height: 200px;
    position: relative;
}
.containerDeImagem-tamanh img{
    width: 280px;
    height: 200px;
    filter: grayscale(30%);
    display: inline-block;
}

.wrapped-text-coffes-tamanho{
    margin: 10px;
    text-align: center;
}

.wrapped-text-coffes-tamanho h5{
  position: absolute;
  font-size: 25px;
  color: #b64949;
  top: 60%;
  left: 45%;
  margin: -25px 0 0 -25px;
  font-style: sans-serif;
  font-weight: bolder;
}

.wrapped-text-coffes-tamanho p {
  font-size: 25px;
  color: #b64949;
  top: 0;
  left: 0;
  font-style: sans-serif;
  font-weight: bolder;
}

/* */ 

.div-footer {
    margin: auto;
    height: 100px;
    width: auto;
    display: inline;
    flex-flow: row wrap;
    justify-content: space-between;
}

.div-footer ul {
    list-style-type: none;
}

.div-footer a {
    text-decoration: none;
}

.div-footer ul li {
    display: inline;
    margin: 20px 55px 20px 25px;  
    font-size: 25px;
    color: #b64949;
    transition: all 2s;
}

.div-footer li:hover{
    background-color: #b64949;
}


